<div class="container mt-4">
    <h2>Stats</h2>
    <div class="dropdown mt-4 mb-4">
        <select class="form-select" aria-label="Select Team">
            <option selected>All</option>
            <option value="1">Antrim</option>
            <option value="2">Armagh</option>
            <option value="3">Carlow</option>
            <option value="4">Cavan</option>
            <option value="5">Clare</option>
            <option value="6">Cork</option>
            <option value="7">Derry</option>
            <option value="8">Donegal</option>
            <option value="9">Down</option>
            <option value="10">Dublin</option>
            <option value="11">Fermanagh</option>
            <option value="12">Galway</option>
            <option value="13">Kerry</option>
            <option value="14">Kildare</option>
            <option value="15">Laois</option>
            <option value="16">Leitrim</option>
            <option value="17">Limerick</option>
            <option value="18">London</option>
            <option value="19">Longford</option>
            <option value="20">Louth</option>
            <option value="21">Mayo</option>
            <option value="22">Meath</option>
            <option value="23">Monaghan</option>
            <option value="24">Offaly</option>
            <option value="25">Roscommon</option>
            <option value="26">Sligo</option>
            <option value="27">Tipperary</option>
            <option value="28">Tyrone</option>
            <option value="29">Waterford</option>
            <option value="30">Westmeath</option>
            <option value="31">Wexford</option>
            <option value="32">Wicklow</option>
        </select>
    </div>

    <h3>Team Match Scores</h3>
    <!-- Content for Team Match Scores -->

    <h3>Team Form</h3>
    <!-- Content for Team Form -->
</div>

